/* illustration.css */


@media only screen and (max-width: 600px) {
    .illustration-container {
        padding-top: 420px;
      }
}


/* @media only screen and (min-width: 601px) and (max-width: 768px) {
.illustration-container {
    padding-top: 350px;
  }
} */

 /* @media only screen and (min-width: 769px) and (max-width: 992px) {
    .illustration-container {
        padding-top: 350px;
      }

      .css-1vum957{
        margin-top: 150px;
      }
    }  */



    @media only screen and (min-width: 992px) and (max-width: 1440px) {
        .illustration-container {
            padding-top: 380px;
          }

          .css-1vum957{
            margin-top: 150px !important;
          }

          

          
        }



